body{
    margin:10px;
    padding:10px;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.header{
    background-color:rgb(3, 3, 36);
    padding:20px;
    margin-top:-20px;
    text-align: center;
    font-size:30px;
    color:white;
    text-transform: uppercase;
    display:flex;
    justify-content:center;
}
.body{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:20px;
    margin-top:20px;
}
.col1{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.item{
      border:2px solid black;
      border-radius:5px;
      height:50vh;
      background-color:rgba(25, 3, 85, 0.575);
      overflow: auto;
      color:white;
      font-size:15px;
    

}
.item:hover{
    transform:scale(1.06);
    cursor:pointer;
}
.col2{
    display:flex;
    flex-direction:column;
    gap:20px;
}
